
html{
    font-family: 'Satisfy',cursive;
}
html, body {
  width:100%;
  margin: 0;
}
.nav img{
  float:left;
  height: 60px;
  padding-top: 3px;
  padding-left: 4px;

}
.nav{
  border-bottom:2px solid black;
  text-align: right;
  height:70px;
  line-height: 70px;
  background-color: #0a3b00;
  position: fixed;
  left:0;
  top:0;
  width:100%;
  z-index:998;

}

.menu{
  margin: 0 30px 0 0;
}

.menu a {
  text-decoration: none;
  color:white;
  font-size: 1.2em;
  margin: 0 10px;
  line-height: 70px;
  clear:right;
  padding:5px;
}
.menu a:hover {
  background-color:rgba(181, 182, 183,0.2);
}


label{
  margin: 0 40px 0 0;
  font-size:26px;
  line-height:70px;
  display: none;
  width:26px;
  float:right;
}

#toggle{
  display:none;
}

main{
  margin-top: 70px;
  padding-top: 16px;
}
main a {
  text-decoration: none;
  color:white;
}
#Espresso{
    background-image: url("pics/longCoffee.jpg");
}
#Tea{
    background-image: url("pics/longTea.jpg");
}
#Food{
    background-image: url("pics/longFood.jpg");
}
#Grill{
    background-image: url("pics/longGrill.jpg");
}
#Catering{
    background-image: url("pics/longCafe.jpg");
}
#Birthday{
    background-image: url("pics/longBday.jpg");
}
#Wedding{
    background-image: url("pics/longWeb.jpg");
}
.container{

  background-size: cover;
  background-position: center center;
  margin:20px;
overflow: hidden;
}

.content{
  background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
   padding: 10px;
    text-align: center;
}
.content:hover{
  background-color:rgba(181, 182, 183,0.1);
}

.bottom{
  text-align: center;
  padding:20px;
  background-color: #0a3b00;
  color:white;
  font-family: "Oswald",monospace;
}
.bottom a {
  text-decoration: none;
  color:white;
}


@media only screen and (max-width: 500px){
  main{
    margin-top: 70px;
  }

  label{
    display:block;
    color:white;
    cursor:pointer;
  }
  .menu{
    text-align:center;
    width:100%;
    display:none;
  }
  .menu a {
    display:block;
      border-bottom:1px solid #EAEAEB;
      margin:0;
      color:black;
      background-color: white;
  }
  .menu a:hover{
    background-color: #e8f7e9;
  }

  #toggle:checked + .menu{
    display:block;
  }


}
